<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Astronova Pro</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Astronova needs access to your contacts to help you quickly find friends and family for compatibility analysis and chart comparisons.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Astronova needs access to your location to help find nearby places for accurate birth location selection.</string>
</dict>
</plist>
